h2 {
    font-family: 'Valorant';
    font-size: 30px;
    background-color: rgb(255, 70, 85);
    width: 12%;
    padding: 8px;
    border-radius: 20px;
    box-shadow: -5px 5px 5px;
    margin-left: 42%;
    margin-top: 40px;
}