html {
    scroll-behavior: smooth;
}
.headline {
    font-family: 'Valorant';
    background-color: rgb(255, 70, 85);
    text-align: center;
    padding: 10px;
    width: fit-content;
    margin-top: 3%;
    font-size: 40px;
    border-radius: 20px;
    box-shadow: -5px 5px 5px;
    align-self: center;
}

h2 {
    font-family: 'Valorant';
    font-size: 30px;
    background-color: rgb(255, 70, 85);
    padding: 8px;
    border-radius: 20px;
    box-shadow: -5px 5px 5px;
    width: fit-content;
    align-self: center;
}

h1 {
    font-family: 'Valorant';
    font-size: 40px;
    background-color: rgb(255, 70, 85);
    padding: 8px;
    border-radius: 20px;
    box-shadow: -5px 5px 5px;
    width: fit-content;
    align-self: center;
}

.mid {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.util .hover img:hover {
    scale: 1.1;
    cursor: pointer;
    box-shadow: -5px 5px 5px;
}

.pic {
    display: flex;
    flex-direction: row;
    margin-left: 300px;
}

.util {
    margin-top: 75px;
}

.hover {
    display: flex;
    position: relative;
    flex-direction: row;
}

.popup {
    visibility: hidden;
    background-color: white;
    font-size: 20px;
    position: absolute;
    opacity: 0;
    left: 100px;
    width: 700px;
    height: fit-content;
    padding: 7px;
    border-radius: 20px;
    margin-right: 50px;
    box-shadow: -5px 5px 5px;
    transform: translateX(10px) translateY(-10px);
}

.hover .popup::after {
    content: "";
    position: absolute;
}

.hover:hover .popup {
    visibility: visible;
    opacity: 1;
}

.hover:hover {
    transform: translateX(-15px) translateY(-10px);
    transition: 0.5s;
}

table {
    width: 1000px;
    align-self: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: -5px 5px 5px;
    padding: 7px;
}

tr td {
    font-size: 20px;
    text-align: center;
}

tr td a {
    text-decoration: none;
    color: rgb(255, 70, 85);
}

.bereich {
    font-size: 25px;
}

tr td a:hover {
    text-decoration: underline;
}