ont-face {
    font-family: Valorant;
    src: url(Valorant\ Font.ttf);
}

.headline {
    font-family: 'Valorant';
    background-color: rgb(255, 70, 85);
    text-align: center;
    padding: 10px;
    width: fit-content;
    align-self: center;
    margin-top: 3%;
    font-size: 40px;
    border-radius: 20px;
    box-shadow: -5px 5px 5px;
}

.b1 {
    display: flex;
    justify-content: space-between;
}

.hscreen {
    width: 70%;
    height: 70%;
    float: left;
    margin-left: 5%;
    border-radius: 10px;
    box-shadow: -5px 5px 5px;
}

.b11 {
    display: flex;
    flex-direction: column;
}

.t1 {
    background-color: white;
    width: fit-content;
    margin-top: 10%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5%;
    height: fit-content;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: -5px 5px 5px;
}

.t2 {
    background-color: white;
    width: fit-content;
    height: fit-content;
    margin-top: 15%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5%;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: -5px 5px 5px;
}

.b2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

.t3 {
    background-color: white;
    margin: 20px;
    margin-left: 5%;
    position: absolute;
    top: 100%;
    left: 20%;
    padding: 1%;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: -5px 5px 5px;
    text-align: center;
    width: 33%;
    height: 15%;
    transform: translate(-50%, -50%);
}

.card {
    transform: translate(-50%, -50%);
    transition: 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.card:hover {
    transform: translate(-50%, -50%) rotateY(180deg);
}

.text-back {
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    backface-visibility: hidden;
    margin: auto;
}

.flip-card-back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}

.list {
    list-style-type: none;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.t4 {
    background-color: white;
    width: fit-content;
    margin-top: 4px;
    margin-left: 50%;
    text-align: center;
    padding: 1%;
    height: 8%;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: -5px 5px 5px;
}