#Button {
    background: rgb(255, 70, 85);
    color: black;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    z-index: 100;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    box-shadow: -5px 5px 5px;
    cursor: pointer;
    border: none;
}

#Button:hover {
    background: white;
}

.b-shown {
    transition: opacity 400ms linear;
    transform: translate(0);
    opacity: 1;
}

.b-hidden {
    transform: translate(9999px);
    opacity: 0;
}