@font-face {
    font-family: Valorant;
    src: url(Valorant\ Font.ttf);
}

.headline {
    font-family: 'Valorant';
    background-color: rgb(255, 70, 85);
    text-align: center;
    padding: 10px;
    width: 15%;
    margin-left: 40%;
    margin-top: 3%;
    font-size: 40px;
    border-radius: 20px;
    box-shadow: -5px 5px 5px;
}

section {
    display: inline-block;
    padding-top: 15px;
    text-align: center;
    margin: 0;
    width: 100%;
}

h2 {
    font-family: 'Valorant';
    font-size: 30px;
    background-color: rgb(255, 70, 85);
    width: 12%;
    padding: 8px;
    border-radius: 20px;
    box-shadow: -5px 5px 5px;
    margin-left: 42%;
    margin-top: 40px;
}

h3 {
    font-size: 25px;
    background-color: rgb(255, 70, 85);
    width: 8.5%;
    padding: 5px;
    border-radius: 20px;
    box-shadow: -5px 5px 5px;
    margin-top: 50px;
    margin-left: 44%;
}

p {
    background-color: white;
    font-size: 20px;
    box-shadow: -5px 5px 5px;
    border-radius: 20px;
    padding: 7px;
    margin-top: 0;
    margin-right: 30%;
    margin-left: 10%;
    margin-right: 10%;
}

img {
    width: 5%;
    height: auto;
    margin-right: 20px;
}

img:hover {
    scale: 1.1;
}

.Agenten {
    margin-left: 20px;
    margin-left: 12%;
}

a {
    color: rgb(255, 70, 85);
}