@font-face {
    font-family: Valorant;
    src: url(Valorant\ Font.ttf);
}

html {
    scroll-behavior: smooth;
}

.headline {
    font-family: 'Valorant';
    background-color: rgb(255, 70, 85);
    text-align: center;
    padding: 10px;
    width: fit-content;
    margin-top: 3%;
    font-size: 40px;
    border-radius: 20px;
    box-shadow: -5px 5px 5px;
    align-self: center;
}

.Map {
    width: 1014px;
    height: 570px;
    float: left;
    margin-left: 5%;
    border-radius: 10px;
    box-shadow: -5px 5px 5px;
    color: black;
}

p {
    background-color: white;
    font-size: 20px;
    box-shadow: -5px 5px 5px;
    border-radius: 20px;
    padding: 7px;
    margin-top: 0;
    margin-right: 30%;
    margin-left: 10%;
    margin-right: 10%;
}

p a {
    color: rgb(255, 70, 85);
}

.img {
    align-self: center;
    margin-bottom: 30px;
    margin-top: 30px;
}